<div class="row" style="margin-top: 20px;">
    <div class="col-sm-10" style="padding-right:0;">
        <form>
            <input [(ngModel)]="search" name="search" (ngModelChange)="onSearchSubmit({searchVal : search, jobSearch : job, deleteFlag : DeleteFlag})" required ngModel id="searchBar" type="text" placeholder="Search..">
        </form>
    </div>
    <div class="col-sm-2" style="padding-left:0;">
        <button onclick="w3_toggle()" class="btn btn-primary infoButton" style="margin-left:10px;">
            <i class="fa fa-info" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary" style="float:right;width:100px;height:52px;"
                data-toggle="modal" data-target="#advSearchOff">Filter</button>
    </div>
  </div>
  
  
  
  <!-- The AdvSearch Modal -->
  <div class="modal fade" id="advSearchOff">
      <div class="modal-dialog">
          <div class="modal-content">
  
              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title">Advance Search</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
  
              <!-- Modal body -->
              <div class="modal-body">
                  <label class="font-weight-bold" for="job">Job</label>
                  <select [(ngModel)]="job" name="job" class="form-control" id="job">
                      <option selected value="">All</option>
                      <option *ngFor="let job of JobList" value={{job.Name}}>{{job.Name}}</option>
                  </select>
                  <label class="font-weight-bold" for="level">Level</label>
                  <select [(ngModel)]="Level" class="form-control" id="Level">
                      <option value="">All</option>
                      <option *ngFor="let level of JobLevelList" value={{level.Name}}>{{level.Name}}</option>
                  </select>

                    <ul class="nav nav-pills mt-2" id="myPill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link show active" id="tab-cur" data-toggle="tab" href="#content-cur" role="tab" aria-controls="content-cur" aria-selected="false">
                                Current Salary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link show" id="tab-off" data-toggle="tab" href="#content-off" role="tab" aria-controls="content-off" aria-selected="false">
                                Offering Salary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link show" id="tab-exp" data-toggle="tab" href="#content-exp" role="tab" aria-controls="content-exp" aria-selected="true">
                                Expected Salary
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myPillContent">
                        <div class="tab-pane show active" id="content-cur" role="tabpanel" aria-labelledby="tab-cur">
                            <p>From</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="CurrentSalary.From" name="CurFrom" type="number" class="form-control" placeholder="Amount" id="from">
                            </div>
                            <p>To</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="CurrentSalary.To" name="CyrTo" type="number" class="form-control" placeholder="Amount" id="to">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="content-off" role="tabpanel" aria-labelledby="tab-off">
                            <p>From</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="OfferingSalary.From" name="OffFrom" type="number" class="form-control" placeholder="Amount" id="from">
                            </div>
                            <p>To</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="OfferingSalary.To" name="OffTo" type="number" class="form-control" placeholder="Amount" id="to">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="content-exp" role="tabpanel" aria-labelledby="tab-exp">
                            <p>From</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="ExpectSalary.From" name="ExptFrom" type="number" class="form-control" placeholder="Amount" id="from">
                            </div>
                            <p>To</p>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">VND</span>
                                </div>
                                <input [(ngModel)]="ExpectSalary.To" name="ExptTo" type="number" class="form-control" placeholder="Amount" id="to">
                            </div>
                        </div>
                    </div>


                    <label class="font-weight-bold" for="result">Result</label>
                    <select [(ngModel)]="ResultSearch" class="form-control" id="result">
                        <option value="">All</option>
                        <option value="Pending">Pending</option>
                        <option value="Fail">Fail</option>
                        <option value="Pass">Pass</option>
                    </select>
                </div>
  
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onSearchSubmit({
                    searchVal : search,
                    jobSearch : job, 
                    levelSearch : Level,
                    resultSearch : ResultSearch,
                    currentSalarySearch : CurrentSalary,
                    offeringSalarySearch : OfferingSalary,
                    expectSalarySearch : ExpectSalary
                })">Search</button>
              </div>
          </div>
      </div>
  </div>
  
  
  
  