<div class="row" style="margin-top: 100px;">
  <div class="col-sm-10" style="padding-right:0;">
      <form>
          <input [(ngModel)]="search" name="search" required ngModel id="searchBar" type="text" placeholder="Search..">
      </form>
  </div>
  <div class="col-sm-2" style="padding-left:0;">
    <button onclick="w3_toggle()" class="btn btn-primary infoButton" style="margin-left:10px;">
        <i class="fa fa-info" aria-hidden="true"></i>
    </button>
    <button (click)="onOpenAddFormClick()" class="btn btn-primary" style="float:right;width:100px;height:52px;"
    data-toggle="modal" data-target="#editAccountForm">Add</button>
  </div>
</div>



<!-- Edit Field -->
<div class="modal fade" id="editAccountForm" style="display: none;" aria-hidden="true">
  <form #f="ngForm" id="EditForm" ngNativeValidate name="EditForm" (ngSubmit)="onSubmit(currentAccount)">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Account's Detail</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div class="job-input">
                  <label for=""><b>Full Name :</b></label>
                  <input [(ngModel)]="currentAccount.Name" name="Name" class="form-control" type="text" placeholder="Enter name" required>

                  <label for=""><b>User name :</b></label>
                  <input name="UserName" [(ngModel)]="currentAccount.UserName" class="form-control" type="text" placeholder="Enter user name" required>

                  <label for=""><b>Email :</b></label>
                  <input name="Email" [(ngModel)]="currentAccount.Email" class="form-control" type="text" placeholder="Enter email" required>

                  <label for=""><b>Role :</b></label>
                  <select [(ngModel)]="currentAccount.Role.ID" name="DeadLine" class="form-control" type="date" id="" class="form-control mb-2" required>
                    <option *ngFor="let rol of RoleList" value="{{rol.ID}}">{{rol.Name}}</option>
                  </select>
              </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <label *ngIf="!isAddForm" class="font-weight-bold" for="DeleteFlag">Delete?</label>
              <select [(ngModel)]="currentAccount.DeleteFlag" *ngIf="!isAddForm"  name="DeleteFlag" id="DeleteFlag" class="form-control" required>
                  <option value="N">No</option>
                  <option value="Y">Yes</option>
              </select>
              <button name="btn_Submit" type="submit" class="btn btn-success">Save</button>
          </div>

      </div>
  </div>
  </form>
</div>


<table class="table table-bordered" style="margin-top:10px;">
  <thead>
  <tr>
      <th>ID</th>
      <th>UserName</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let acc of AccountList">
      <td>{{acc.ID}}</td>
      <td>{{acc.UserName}}</td>
      <td>{{acc.FullName}}</td>
      <td>{{acc.Email}}</td>
      <td>{{acc.Role?.Name}}</td>
      <td>
          <a (click)="sendDataToForm(acc)" class="edit-action btn btn-secondary" data-toggle="modal" data-target="#editAccountForm" value=""><i class="far fa-edit"></i></a>
      </td>
  </tr>
  </tbody>
</table>
<pagination-controls class="my-pagination text-center" (pageChange)="p = $event"></pagination-controls>


<!-- 
<app-loadingpage *ngIf="isProcessing"></app-loadingpage> -->