<!-- Search -->
<app-interviewing-list-search (messageEvent)="receiveMessage($event)"></app-interviewing-list-search>


<div class="list-group" style="margin-top:10px">
    <div class="list-group-item" *ngFor="let itv of InterviewingList | stringFilter : search | paginate: { itemsPerPage: 4, currentPage: p }">
        <div *ngIf="itv.Candidate?.PositionApply !== undefined" class="row">
            <div class="col-sm-2">
                <a href="javascript:alert('Gắn link info vào đây');">
                    <div class="profile-img">
                        <img src="{{itv.Candidate?.Image}}"
                            onerror="this.onerror=null;this.src='../../assets/images/default/avatar.png'" alt="">
                    </div>
                </a>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="checkbox" class="ckb-export">
                        <h2 class="profile-name"><span>ID : {{itv.Candidate?.ID}} - {{itv.Candidate?.Fullname}}</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="info">
                            <div><span>Job:</span> {{itv.Candidate?.PositionApply.Name}}</div>
                            <div><span>Level:</span> {{itv.Candidate?.Level}}</div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="info">
                            <div><span>Current Interviewer:</span> {{itv.InterviewerName}}</div>
                            <div><span>Evaluation:</span> {{itv.Note.length > 25 ? itv.Note.substr(0,25).concat("...") : itv.Note}}</div>
                            <div><span>Location:</span> {{itv.Location.length > 25 ? itv.Location.substr(0,25).concat("...") : itv.Location}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info">
                            <div><span>Result:</span> {{itv.Result}}</div>
                            <div><span>Date:</span> {{itv.Date}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="action">
                            <button (click)="sendDataToForm(itv)" class="btn btn-secondary" data-toggle="modal"
                                data-target="#editInterviewingForm">
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="deleteFlagCount === InterviewingList?.length" class="list-group-item">
        <div class="row" style="height: 166px;">
            <div class="nodata">No data to load !</div>
        </div>
    </div>
    <pagination-controls class="my-pagination text-center" (pageChange)="p = $event"></pagination-controls>
</div>