  <h2 class="display-4 ml-4 mt-4 title">Candidate Profile</h2>
  <div *ngIf="Candidate">
  <form #f="ngForm" ngNativeValidate name="Form" (ngSubmit)="onSaveButtonClick(Candidate)"> 
  <div class="cand-title">
      <div class="row">
          <div class="col-md-3">
              <div class="img-cand ml-4 my-4">
                  <img src="{{Candidate.Image}}" onerror="this.onerror=null;this.src='../../assets/images/default/avatar.png'"
                  alt="">
              </div>
          </div>
          <div class="col-md-7">
            <label *ngIf="isEditing" class="name-cand"><input required [(ngModel)]="Candidate.Fullname" name="Fullname" class="form-control name-cand" type="text" id="" style="padding:0;"></label>
             <label *ngIf="!isEditing" class="name-cand">{{Candidate.Fullname}}</label>
          </div>
          <div class="col-md-2">
            <label *ngIf="!isEditing"  class="name-cand">
              <button (click)="onEditButtonClick()" class="btn btn-info" id="btnEdit"><i class="fa fa-pencil"></i> Edit</button>
            </label>
            <label *ngIf="isEditing" class="name-cand">
              <button name="btn_Submit" type="submit" class="btn btn-warning"><i class="fa fa-check"></i>Save</button>
            </label>
   
             </div>
      </div>
      <div class="row">
            <div class="col-md-12">
            <p class="font-weight-bold">Note : <textarea required [(ngModel)]="Candidate.Note" cols="45" rows="2" [readonly]="!isEditing" name="Note" class="form-control allowedit" style="font-style: oblique;" type="text" id="" readonly=""></textarea></p>
        </div>
    </div>
  </div>
  <div class="cand-section cand-info">
      <h3 class="title">Information</h3>

      <div class="row container">
          <div class="col-6">
            <p class="font-weight-bold">Birthday : <input required [(ngModel)]="Candidate.BirthDay" [readonly]="!isEditing" name="BirthDay" class="form-control allowedit" type="date" id="" readonly=""></p>

            <p class="font-weight-bold" for="">Gender :
                <select required [(ngModel)]="Candidate.Sex" name="Sex" id="secGender" class="form-control allowedit" [disabled]="!isEditing">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </p>
            <p class="font-weight-bold">University : <input [(ngModel)]="Candidate.University" name="University" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>

          </div>
          <div class="col-6 ">
              <p class="font-weight-bold">Source : <input [(ngModel)]="Candidate.Source" name="Source" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>
              <p class="font-weight-bold">Identify Number : <input [(ngModel)]="Candidate.IdentifyNumber" name="IdentifyNumber" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>
          </div>
      </div>
  </div>
  <div class="cand-section cand-contact">
      <h3 class="title">Contact</h3>

      <div class="row container">
          <div class="col-6">
              <p class="font-weight-bold">Phone : <input required [(ngModel)]="Candidate.PhoneNumber" name="PhoneNumber" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>

              <p class="font-weight-bold" for="">Address : <input required [(ngModel)]="Candidate.Address" name="Address" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>

          </div>
          <div class="col-6 ">
              <p class="font-weight-bold">Email : <input required [(ngModel)]="Candidate.Email" name="Email" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>
          </div>
      </div>
  </div>
  <div class="cand-section cand-job">
      <h3 class="title">Job</h3>

      <div class="row container">
          <div class="col-6">
                  <p class="font-weight-bold">Job :
                    <input name="Job" class="form-control allowedit" type="text" id="" readonly>
                 </p>

              <p class="font-weight-bold" for="">Skills : <input [(ngModel)]="Candidate.Skills" name="Skills" class="form-control allowedit" type="text" id="" [readonly]="!isEditing"></p>
                      <p class="font-weight-bold" for="">Experience : <input [(ngModel)]="Candidate.Experience" name="Experience" class="form-control allowedit" type="text" id="exp" [readonly]="!isEditing"></p>
          </div>
          <div class="col-6 ">
                  <p class="font-weight-bold">Action :
                          <input [(ngModel)]="Candidate.Action" name="Action" id="secAct" class="form-control" type="text" readonly="">
                      </p>
                      <p class="font-weight-bold">Result :
                        <input [(ngModel)]="Candidate.Result" name="Result" id="secRes" class="form-control" type="text" readonly="">
                      </p>
          </div>
      </div>
  </div>

  <div class="tabset" style="margin-left:40px">
      <!-- Tab 1 -->
      <input *ngIf="InterviewingList !== undefined" type="radio" name="tabset" id="tab1" aria-controls="marzen" checked="">
      <label *ngIf="InterviewingList !== undefined" for="tab1">Interviewing</label>
      <!-- Tab 2 -->
      <input *ngIf="OfferingList !== undefined" type="radio" name="tabset" id="tab2" aria-controls="rauchbier" [checked]="InterviewingList === undefined">
      <label *ngIf="OfferingList !== undefined" for="tab2">Offering</label>
      <!-- Tab 3 -->
      <input *ngIf="ProbationList !== undefined" type="radio" name="tabset" id="tab3" aria-controls="dunkles" [checked]="OfferingList === undefined">
      <label *ngIf="ProbationList !== undefined" for="tab3">Probation</label>

      <div class="tab-panels">
          <section *ngIf="InterviewingList !== undefined" id="marzen" class="tab-panel">
              <div class="wrap-table100">
                  <div class="table100">
                      <table>
                          <thead>
                              <tr class="table100-head">
                                  <th class="column1">ID</th>
                                  <th class="column2">Date Time</th>
                                  <th class="column3">Interviewer</th>
                                  <th class="column4">Location</th>
                                  <th class="column5">Note</th>
                                  <th class="column6">Result</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="column1">{{InterviewingList.InterviewingID}}</td>
                                  <td class="column2">{{InterviewingList.Date}}</td>
                                  <td class="column3">{{InterviewingList.InterviewerName}}</td>
                                  <td class="column4">{{InterviewingList.Location}}</td>
                                  <td class="column5">{{InterviewingList.Note}}</td>
                                  <td class="column6">{{InterviewingList.Result}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </section>
          <section *ngIf="OfferingList !== undefined" id="rauchbier" class="tab-panel">
              <div class="wrap-table100">
                  <div class="table100">
                      <table>
                          <thead>
                              <tr class="table100-head">
                                  <th class="column1">ID</th>
                                  <th class="column2">Level</th>
                                  <th class="column3">Current Salary</th>                  
                                  <th class="column4">Expected Salary</th>
                                  <th class="column5">Offering Salary</th>
                                  <th class="column6">Note</th>
                                  <th class="column7">Result</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="column1">{{OfferingList.OfferingID}}</td>
                                  <td class="column2">{{OfferingList.LevelOffered}}</td>
                                  <td class="column3">{{OfferingList.CurrentSalary}}</td>
                                  <td class="column4">{{OfferingList.ExpectSalary}}</td>
                                  <td class="column5">{{OfferingList.OfferingSalary}}</td>
                                  <td class="column6">{{OfferingList.Note}}</td>
                                  <td class="column7">{{OfferingList.Result}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </section>
          <section *ngIf="ProbationList !== undefined" id="dunkles" class="tab-panel">
              <div class="wrap-table100">
                  <div class="table100">
                      <table>
                          <thead>
                              <tr class="table100-head">
                                  <th class="column1">ID</th>
                                  <th class="column2">Level</th>
                                  <th class="column3">Start Date</th>
                                  <th class="column4">End Date</th>
                                  <th class="column5">Contracted Salary</th>
                                  <th class="column6">Probation Salary</th>
                                  <th class="column7">Note</th>
                                  <th class="column8">Result</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="column1">{{ProbationList.ProbationID}}</td>
                                  <td class="column2">{{ProbationList.Level}}</td>
                                  <td class="column3">{{ProbationList.StartDate}}</td>
                                  <td class="column4">{{ProbationList.EndDate}}</td>
                                  <td class="column5">{{ProbationList.ContractedSalary}}</td>
                                  <td class="column6">{{ProbationList.ProbationSalary}}</td>
                                  <td class="column7">{{ProbationList.Note}}</td>
                                  <td class="column8">{{ProbationList.Result}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </section>
      </div>
    </div>
</form>
  </div>
