  <div class="wrapper">
  
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      <div id="content">
          <div class="icon-bar">
              <a id="sidebarCollapse"><img src="assets/images/arrow_button.png" height="42" width="42" style="transform: scaleX(-1);"></a>
          </div>
          <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
              <app-topnav></app-topnav>
  
              <!--Main page content put inside here-->
              <div class="wrapper">
                <div class="container">
                    <router-outlet></router-outlet> 
                </div>
                  <!--End of Container-->
                  
                  <!--Right SideBar-->
                  <app-right-sidebar></app-right-sidebar>
  
              </div>
  
          </div>
      </div>
  </div>
  
  <app-footer></app-footer>

  

  