<nav id="sidebar" class="active">
  <div id="logo" style="width: 250px;height: 74px;">
      <a href="/"><img src="assets/images/logo.jpg"></a>
  </div>

  <ul class="list-unstyled components">
      <!--CANDIDATE MANAGEMENT-->
      <li class="active">
          <a href="#candidateSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Candidate
              Management</a>
          <ul class="collapse list-unstyled" id="candidateSubmenu">
              <!--bỏ cái "show" đi nếu không muốn list không tự show khi vừa vào trang-->
              <li>
                  <a href="/">Candidate list</a>
              </li>
              <li>
                  <a href="/Interviewing.html">Interviewing</a>
              </li>
              <li>
                  <a href="/Offering.html">Offering</a>
              </li>
              <li>
                  <a href="/Probation.html">Probation</a>
              </li>
          </ul>
      </li>

      <!--JOB-->
      <li>
          <a href="Job.html">Job</a>
      </li>

      <!--ACCOUNT-->
      <li>
          <a href="Account.html">Account</a>
      </li>
  </ul>
</nav>