<nav id="sidebar">
  <div id="logo" style="width: 250px;height: 74px;">
      <a routerLink="/" routerLinkActive="active"><img src="assets/images/logo.jpg"></a>
  </div>

  <ul class="list-unstyled components">
      <!--CANDIDATE MANAGEMENT-->
      <li class="active">
          <a href="#candidateSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Candidate
              Management</a>
          <ul class="collapse list-unstyled" id="candidateSubmenu">
              <li>
                  <a routerLink="/" routerLinkActive="active">Candidate list</a>
              </li>
              <li>
                  <a routerLink="/Interviewing" routerLinkActive="active">Interviewing</a>
              </li>
              <li>
                  <a routerLink="/Offering" routerLinkActive="active">Offering</a>
              </li>
              <li>
                  <a routerLink="/Probation" routerLinkActive="active">Probation</a>
              </li>
          </ul>
      </li>

      <!--JOB-->
      <li>
        <a routerLink="/Job" routerLinkActive="active">Job</a>
      </li>

      <!--ACCOUNT-->
      <li>
        <a routerLink="/Account" routerLinkActive="active">Account</a>
      </li>
  </ul>
</nav>