<nav id="sidebar">
  <div id="logo" style="width: 250px;height: 74px;">
      <a routerLink="/Main" routerLinkActive="active"><img src="assets/images/logo.jpg"></a>
  </div>

  <ul class="list-unstyled components">
      <!--CANDIDATE MANAGEMENT-->
      <li class="active">
          <a href="#candidateSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Recruitment
              Management</a>
          <ul class="collapse list-unstyled" id="candidateSubmenu">
              <li *ngIf="Account.RoleName === 'SuperAdmin' || Account.RoleName === 'CandidateAdmin' ">
                  <a routerLink="/Main/" routerLinkActive="active">Candidate list</a>
              </li>
              <li *ngIf="Account.RoleName === 'SuperAdmin' || Account.RoleName === 'InterviewingAdmin' ">
                  <a routerLink="/Main/Interviewing" routerLinkActive="active">Interviewing</a>
              </li>
              <li *ngIf="Account.RoleName === 'SuperAdmin' || Account.RoleName === 'OfferingAdmin' ">
                  <a routerLink="/Main/Offering" routerLinkActive="active">Offering</a>
              </li>
              <li *ngIf="Account.RoleName === 'SuperAdmin' || Account.RoleName === 'ProbationAdmin' ">
                  <a routerLink="/Main/Probation" routerLinkActive="active">Probation</a>
              </li>
          </ul>
      </li>

      <!--JOB-->
      <li *ngIf="Account.RoleName === 'SuperAdmin'">
        <a routerLink="/Main/Job" routerLinkActive="active">Job</a>
      </li>

      <!--ACCOUNT-->
      <li *ngIf="Account.RoleName === 'SuperAdmin'">
        <a routerLink="/Main/Account" routerLinkActive="active">Account</a>
      </li>
  </ul>
</nav>