<title>Interviewing List</title>
<div class="row" style="margin-top: 80px;">
    <div class="col-sm-12">
    </div>
</div>


<!--EDIT INTERVIEWING-->
<div class="modal fade" id="editInterviewingForm" tabindex="-1" role="dialog" aria-labelledby="editInterviewingForm"
        aria-hidden="true">
    <form #f="ngForm" id="EditForm" ngNativeValidate name="EditForm" (ngSubmit)="onSubmit(currentInterviewing)">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Interviewing Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <!--Interview Note-->
                    <div class="col-sm-12">
                        <div class="row" style="padding-bottom: 15px;">
                            <div class="picture">
                                <img src="{{currentInterviewing.Candidate.Image}}" class="picture-src"
                                    id="wizardPicturePreview" title="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <label style="padding-right: 15px;">Result:</label>
                                <select [(ngModel)]="currentInterviewing.Result" (change)="onResultChange($event)" class="result-dropdown"
                                    name="dropdownInterview">
                                    <option value="Pending">Pending</option>
                                    <option value="Fail">Fail</option>
                                    <option value="Pass">Pass</option>
                                </select>
                            </div>
                            <div class="col-sm-4" [hidden]="currentInterviewing.Result !== 'Pass'">
                                <label style="padding-right: 15px;">Offering:</label>
                                <input [(ngModel)]="isOffering" id="checkedBox" type="checkbox" name="isOffering" value="isChecked"
                                    >
                            </div>
                        </div>
                    </div>

                    <!--Interview Round-View-->

                    <div [hidden]="isOffering" class="card-body" id="myCard" style="display:block; border-top: 1px solid rgba(0, 0, 0, 0.2);">

                        <!--Interview Round-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="round1" role="tabpanel"
                                aria-labelledby="round-tab">
                                <label>Interviewer: </label>
                                <input name="InterviewerName" [(ngModel)]="currentInterviewing.InterviewerName"
                                    class="form-control" type="text" required>

                                <label>Location: </label>
                                <input [(ngModel)]="currentInterviewing.Location" class="form-control" type="text"
                                    name="Location" value="" placeholder="Enter text" required="">

                                <div id="datetimepicker2" class="input-append">
                                    <label>Date: </label>
                                    <input [(ngModel)]="currentInterviewing.Date" class="form-control"
                                        type="datetime-local" id="example-datetime-local-input" name="Date" required>
                                </div>

                                <label>Note: </label>
                                <textarea [(ngModel)]="currentInterviewing.Note" class="form-control" name="Note"
                                    rows="5" cols="45" placeholder="Note for each round..."></textarea>

                            </div>
                        </div>
                    </div>

                    <!-- Offering check with card-body -->
                    <div *ngIf="isOffering"  class="card-body" id="offeringCheck"
                        style="border-top: 1px solid rgba(0, 0, 0, 0.2);">

                        <label>Current Salary: </label>
                        <input [(ngModel)]="currentInterviewing.CurrentSalary" type="text" class="form-control" name="CurrentSalary" value="" placeholder="Enter salary"
                            required="">

                        <label>Expect Salary: </label>
                        <input [(ngModel)]="currentInterviewing.ExpectSalary" type="text" class="form-control" name="ExpectSalary" value="" placeholder="Enter salary"
                            required="">

                        <label>Offering Salary: </label>
                        <input [(ngModel)]="currentInterviewing.OfferingSalary" type="text" class="form-control" name="OfferingSalary" value="" placeholder="Enter salary"
                            required="">

                        <label>Level Offered: </label>
                        <input [(ngModel)]="currentInterviewing.LevelOffered" type="text" class="form-control" name="LevelOffered" value="" placeholder="Enter text"
                            required="">

                    </div>



                </div>
                <!-- Modal footer -->

                <!--Button Save-->
                <div class="modal-footer">
                    <button name="btn_Submit" type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>





<app-loadingpage *ngIf="isProcessing"></app-loadingpage>
<app-interviewing-list-group-item (messageEvent)="receiveMessage($event)"></app-interviewing-list-group-item>